/* boards/olimex_stm32_e407.overlay */

/ {
	chosen {
		/* optional, but sometimes useful for clarity */
		zephyr,flash-controller = &flash_controller;
	};
};

/*
 * Start with &sdio on STM32F4.
 * If your build says this label does not exist, switch it to &sdmmc1.
 */
&sdio {
	status = "okay";
	bus-width = <4>;
	pinctrl-0 = <
		&sdio_d0_pc8
		&sdio_d1_pc9
		&sdio_d2_pc10
		&sdio_d3_pc11
		&sdio_ck_pc12
		&sdio_cmd_pd2
	>;
	pinctrl-names = "default";
};